.App {
    min-height: 100vh;
    background: #1e202f;
}

.react-datepicker__input-container input {
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
    display: inline-block;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.Content {
    width: 50%;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 4px;
}

.Results {
    padding: 1rem 0;
}

.ArticlesList {
    display: table;
}

.DatePickerContainer {
    background: #464a6d;
    padding: 1rem;
    border-radius: 4px;
}

.DatePickerLabel {
    font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .Content {
        width: 90%;
    }
}